[Unit]
Description=Check CRM base schedule every minute
[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=sm-crm-base.service
[Install]
WantedBy=timers.target
